{
  "presets": ["env", "react"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "root": "./src",
          "lib": "./src/lib",
          "config": "./src/config",
          "ducks": "./src/ducks",
          "components": "./src/components",
          "assets": "./src/assets",
          "selectors": "./src/selectors"
        }
      }
    ]
  ]
}
